<div class="inicio" style="color: black;">
    <!-- primer contenedor imagen e icono ilustrativo-->
    <div class="primerContenedor">
        <img src="../../assets/img/sepa_img/SEPA_BANNER_P-02.png" alt="" style=" width: 100%; object-fit: contain;
             height: 100%;display: flex;justify-content: center"
            class="flex flex-wrap align-items-center justify-content-center">
        <div class="card__icono--uppercase" shape="circle">
            <img src="../../assets/img/iconos_sepa/SEPA_ICO_FLECHA_MAGENTA.png" alt="" style="width: 100%;height: 100%">
        </div>
    </div>
    <!--segundo contenedor imagen SEPA y texto informativo-->
    <div class="segundoContenedor">
        <div class="imagen-sepa">
            <img src="../../assets/img/sepa_img/Imagen_1.png" alt="Imagen" style="width: 100%;height: 100%; object-fit: contain;">
        </div>
        <div class="texto" style="display:flex;justify-content: center;">
            <ul style="margin-top: 20%;">
                <h2 style="color: rgb(112, 176, 9)">¿QUÉ ES?</h2><br>
                <p>Impulsa tu crecimiento <br> profesional con<b style="color: rgb(112, 176, 9)">
                        SEPA</b>
                </p>
                <p class="contInformacion">
                    <br><b style="font-weight: bold;font-family: 'BrownStd-Bold'">SEPA(Sello de experiencia
                        profesional<br>area Andina)</b>
                    es una plataforma de formación <br>continua para colaboradores administrativos,
                    <br>basada en el <b style="font-weight: bold;font-family: 'BrownStd-Bold'">modelo SPIR-E.</b>
                    Ofrece Herramientas de aprendizaje estrategico y
                    <br>práctico, integradas al entorno laboral, para
                    <br>fortalecer competencias clave, mejorar el desempeño
                    <br> y prepararte para los desafíos <br>futuros.
                </p>
            </ul>

        </div>
    </div>
    <!--tercer contenedor texto infromativo-->
    <div class="tercerContenedor" >
        <div style="width: 45%;justify-content: center;display: flex;margin-left: 8px;">
            <ul style="margin-top:15px;">
                <h2 style="color: rgb(112, 176, 9)">CURSOS</h2>
                <h2 class="tamaño-letra" style="font-family: 'BrownStd-Bold';font-weight: bold;">
                    <b style="color: #FF1493">SEPA: </b>Tu camino hacia <br> el aprendizaje
                    continuo
                </h2>
            </ul>
        </div>
        <div style="width: 55%;align-items: center;">
            <p class="contInformacion" style="padding: 30px">
                En <b>SEPA</b> podras acceder a cursos alineados
                <br>con nuestra vision institucional, que te
                <br>permitan desarrollar habilidades esenciales
                <br>y potenciar tu crecimiento profesional.
            </p>
        </div>
    </div>
    <!-- targetas cursos principales-->
     <section class="conte_certy">
        <div class="contenedor-cursos-principales">
            <div class="tamaño-card" *ngFor="let card of cards">
                <img [src]="card.imagen" style=" width: 100%;height: 100%;position: relative">
                <span class="titulo-card"> CURSOS </span>
                <span class="subtitulo-card"> {{card.subtitulo}}</span>
                <img src="../../assets/img/iconos_sepa/SEPA_ICO_FLECHA_MAGENTA.png" alt="" shape="circle" class="icono">
            </div>
        </div>
     <!-- selector -->
        <div class="card flex justify-center"
            style="width: 100%;height: 5vh ;position: relative;  left: 20%;">
            <p-select [options]="nodosSelector" optionLabel="name" [(ngModel)]="seleccionarCurso"
                (onChange)="cambioSelectorNodo()" class="w-full md:w-56 card flex justify-center">
                <ng-template #dropdownicon>
                    <span class="pi pi-search"></span>
                </ng-template>
            </p-select>
        </div>
    <!--carousel cursos-->
        <div  class="contenedor-cursos" *ngFor="let nodo of nodos; index as i;">
            <div class="contenedor-encabezadoCarousel" [style]="nodo.colorFondo">
                <div class="contenedorTamaño-cursos-titulo">
                    <div class="iconoYencabezado">
                        <img [src]="nodo.icono" class="contenedor-cursos-incono">
                        <h1 [style]="nodo.nameColorLetra" class="contenedor-cursos-titulo"> {{nodo.name}} </h1>
                    </div>
                </div>
                <p-carousel class="tamaño-contendedor-carrusel" [value]="nodo.dataCarousel" [numVisible]="3"
                    [numScroll]="1" [responsiveOptions]="responsiveOptions">
                    <ng-template pTemplate="previousicon">
                        <img [src]="nodo.iconoPrevious" style="width: 98%;height: 98%">
                    </ng-template>
                    <ng-template pTemplate="nexticon">
                        <img [src]="nodo.iconoNext" style="width: 98%;height: 98%">
                    </ng-template>
                    <ng-template let-curso #item>
                        <div class="tamaño-contenedor-card"
                            style="padding: 20px; width: 100%;height: auto; overflow: hidden;">
                            <div class="tamaño-card-cursos">
                                <div class="relative mx-auto">
                                    <!-- Usar la URL de imagen del endpoint -->
                                    <img [src]="curso.url_imagen_course" [alt]="curso.fullname" class="w-full rounded-border" />
                                </div>
                                <div class="burbuja-tituloInformacion">
                                    <div class="burbuja-tituloInformacion-posicionElementos">
                                        <div class="tamañoLetra-titulo "
                                            style="font-family: 'BrownStd-Bold';font-size: 14px">{{curso.fullname}}</div>
                                        <div class="tamañoLetra-informacion"
                                            style="font-family: 'BrownStd-Bold';font-size: 12px;
                                            float: right;margin-left:auto;margin-right: 10px;color: rgb(148, 185, 47);cursor: pointer;"
                                            (click)="clickModalCursos(nodo, curso, unificacion)">Más información
                                         <i class="pi pi pi-plus-circle" style="color: rgb(148, 185, 47)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
        <!-- Componente de cursos para usuarios logueados -->
        <!-- Asegurarse de que el componente se destruye y recrea cuando cambia isLoggedIn -->
        <!-- Modificar la sección del componente logged-courses -->
        <!-- Simplificar la condición del componente logged-courses -->
        <!-- Al final del archivo, antes del cierre de section -->
        <app-logged-courses 
            *ngIf="isLoggedIn" 
            [userId]="getUserId()"
        ></app-logged-courses>
        
        <!-- Cambiar esto: -->
        <app-modal-detalle-cursos 
            [showCursos]="mostrarModalDetallCursos"
            [cursoData]="descripcionCurso">
        </app-modal-detalle-cursos>

